Listen *:{{ www_port }}

NameVirtualHost *:{{ www_port }}

<Directory {{ kickstart_directory }}/>
    Options FollowSymLinks
    AllowOverride All
    Order deny,allow
    Allow from all
    Require all granted
</Directory>

<VirtualHost *:{{ www_port }}>
    DocumentRoot "{{ kickstart_directory }}/"
    ErrorLog "logs/kickstart-error.log"
    CustomLog "logs/kickstart-access.log" combined
</VirtualHost>
