<network>
  <name>{{ kvm_private_network_name }}</name>
  <forward mode='nat'>
    <nat>
      <port start='1024' end='65535'/>
    </nat>
  </forward>
  <domain name='default'/>
  <ip address='{{ kvm_private_network_ip }}' netmask='{{ kvm_private_network_netmask }}'>
    <dhcp>
      <range start='{{ kvm_private_network_dhcp_start }}' end='{{ kvm_private_network_dhcp_end }}'/>
    </dhcp>
  </ip>
</network>
